ion-row {
  padding: 2px 0px;
  border-bottom: 0.5px solid #eee;
  ion-button {
    height: 27px !important;
    width: 28px !important;
    margin: 4px 4px;
  }
}

.quantity {
  position: relative !important;
  top: 5px !important;
  margin: 0px 5px !important;
}
