<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides class="home-slider" pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="./assets/images/3-2.jpg" alt="" />
    </ion-slide>
    <ion-slide>
      <img
        src="./assets/images/comfort-laundry-dry-cleaning-services-delhi-1jkdd6iuyo.jpg"
        alt=""
      />
    </ion-slide>
    <ion-slide>
      <img src="./assets/images/Washateria-2.jpg" alt="" />
    </ion-slide>
  </ion-slides>

  <div class="category_card ">
    <ion-card class="round" (click)="openCategory('WASH_IRON')">
      <ion-card-content>
        <ion-img src="./assets/images/dry.png"></ion-img>
      </ion-card-content>
    </ion-card>
    <p>Wash & Ironing</p>
  </div>
  <div class="category_card ">
    <ion-card class="round" (click)="openCategory('IRONING')">
      <ion-card-content>
        <ion-img src="./assets/images/iron.png"></ion-img>
      </ion-card-content>
    </ion-card>
    <p>Ironing</p>
  </div>
  <div class="category_card ">
    <ion-card class="round" (click)="openCategory('SHOES_WASH')">
      <ion-card-content>
        <ion-img src="./assets/images/sneakers.png"></ion-img>
      </ion-card-content>
    </ion-card>
    <p>Shoes Wash</p>
  </div>
  <div class="category_card ">
    <ion-card class="round" (click)="openCategory('COMMERCIAL_LAUNDRY')">
      <ion-card-content>
        <ion-img src="./assets/images/commercial.png"></ion-img>
      </ion-card-content>
    </ion-card>
    <p>Commercial Laundry</p>
  </div>
  <div class="category_card ">
    <ion-card class="round" (click)="openCategory('CARPET_WASH')">
      <ion-card-content>
        <ion-img src="./assets/images/carpet.png"></ion-img>
      </ion-card-content>
    </ion-card>
    <p>Carpet Wash</p>
  </div>
  <div class="category_card ">
    <ion-card class="round" (click)="openCategory('OTHERS')">
      <ion-card-content>
        <ion-img src="./assets/images/others.png"></ion-img>
      </ion-card-content>
    </ion-card>
    <p>Others</p>
  </div>
</ion-content>
